### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a software system that stores and organizes data in a structured way, allowing it to be easily retrieved, updated, and managed. Databases are used in a variety of applications, including web and mobile applications, business systems, and scientific research.

SQL and NoSQL are two different types of databases that have different structures, use different languages to interact with data, and have different strengths and weaknesses.

SQL databases, also known as relational databases, are based on the Structured Query Language (SQL) and are designed to store and manage data in tables with predefined relationships between them. SQL databases are highly structured, require a fixed schema, and are best suited for applications that require complex queries and transactions, such as banking systems and e-commerce platforms.

NoSQL databases, on the other hand, are designed to store and manage unstructured data, such as documents, graphs, and key-value pairs. NoSQL databases are highly flexible and do not require a predefined schema, making them ideal for applications that require rapid development and scalability, such as social media platforms and real-time analytics systems.

In summary, SQL databases are highly structured and best suited for applications that require complex queries and transactions, while NoSQL databases are highly flexible and best suited for applications that require rapid

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


`DDL` stands for Data Definition Language, and it is a subset of SQL that is used to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects such as tables, views, and indexes.

1. `CREATE`: The CREATE command is used to create a new database object, such as a table, view, or index. For example, the following command creates a new table called "employees" with three columns: "id", "name", and "salary":

In [ ]:
CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   salary DECIMAL(10, 2)
);

2. `DROP`: The DROP command is used to delete an existing database object. For example, the following command drops the "employees" table:

In [ ]:
DROP TABLE employees;

3. `ALTER`: The ALTER command is used to modify an existing database object, such as adding a new column to a table. For example, the following command adds a new column called "department" to the "employees" table:

In [ ]:
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

4. `TRUNCATE`: The TRUNCATE command is used to delete all data from a table while leaving the table structure intact. For example, the following command deletes all data from the "employees" table:

In [ ]:
TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

`DML` stands for Data Manipulation Language, which is a subset of SQL used to manipulate the data within a database. DML commands are used to insert, update, and delete data from a database.

Here are brief explanations and examples of some commonly used DML commands:

1. `INSERT`: The INSERT command is used to insert new data into a table. For example, the following command inserts a new record into the "employees" table:

In [ ]:
INSERT INTO employees (id, name, salary)
VALUES (1, 'John Smith', 50000);

2. `UPDATE`: The UPDATE command is used to modify existing data in a table. For example, the following command updates the salary of the employee with an id of 1 to 60000:

In [ ]:
UPDATE employees
SET salary = 60000
WHERE id = 1;

3. `DELETE`: The DELETE command is used to delete data from a table. For example, the following command deletes the record for the employee with an id of 1:

In [ ]:
DELETE FROM employees
WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

`DQL` stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL commands are used to query the database and retrieve specific data based on specified conditions.

In [ ]:
SELECT * FROM employees;

### Q5. Explain Primary Key and Foreign Key.
In a relational database, primary keys and foreign keys are used to define relationships between tables.

`primary key` is a column or a combination of columns that uniquely identifies each row in a table. A primary key cannot be null (empty) and must be unique for each row. The primary key is used to ensure data integrity and to enforce relationships between tables. In most cases, a primary key is automatically created by the database management system when a new table is created. For example, in a table of employees, the employee ID could be used as the primary key.

`foreign key` is a column or a combination of columns that refers to the primary key of another table. A foreign key establishes a relationship between two tables, where the values in the foreign key column(s) in one table match the values in the primary key column(s) in another table. This relationship ensures that data is consistent and helps prevent errors and inconsistencies in the database. For example, in a table of orders, the customer ID could be a foreign key that references the primary key of the customers table.

Here is an example of a table with a primary key and a table with a foreign key:

In [ ]:
CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   department_id INT
);

CREATE TABLE departments (
   id INT PRIMARY KEY,
   name VARCHAR(50)
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector

# Establishing a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database_name"
)

# Creating a cursor object to interact with the database
mycursor = mydb.cursor()

# Executing a SQL query
mycursor.execute("SELECT * FROM employees")

# Fetching the results of the query
result = mycursor.fetchall()

# Printing the results
for row in result:
  print(row)
  
# Closing the database connection
mydb.close()

ModuleNotFoundError: No module named 'mysql'

### Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, a typical SELECT statement consists of several clauses that are executed in a specific order:

1. SELECT: The SELECT clause specifies the columns that you want to retrieve from the database. This is the first clause that is executed.

2. FROM: The FROM clause specifies the table or tables that you want to retrieve the data from. This is the second clause that is executed.

3. JOIN: The JOIN clause is used to combine rows from two or more tables based on a related column between them. This clause is executed after the FROM clause.

4. WHERE: The WHERE clause is used to filter the data based on certain conditions. This clause is executed after the JOIN clause.

5. GROUP BY: The GROUP BY clause is used to group the data by one or more columns. This clause is executed after the WHERE clause.

6. HAVING: The HAVING clause is used to filter the groups based on certain conditions. This clause is executed after the GROUP BY clause.

7. ORDER BY: The ORDER BY clause is used to sort the data by one or more columns. This clause is executed after the HAVING clause.

8. LIMIT/OFFSET: The LIMIT/OFFSET clause is used to limit the number of rows returned by the query or to skip a certain number of rows. This clause is executed after the ORDER BY clause.