### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd
series_1 = pd.Series([4, 8, 15, 16, 23, 42])
print(series_1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
list2 = [5,76,8,4,2,34,53,11,8564]
series_2 = pd.Series(list2)
print(series_2)

0       5
1      76
2       8
3       4
4       2
5      34
6      53
7      11
8    8564
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data, Then, print the DataFrame.

In [12]:
df_3 = pd.DataFrame({"Name":["Alice","Bob","Claire"],
                    "Age":[25,30,27],
                   "Gender":["Female","Male","Female"]})
df_3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example


In pandas, a `DataFrame` is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where each column represents a variable and each row represents an observation.

On the other hand, a `Series` is a one-dimensional labeled array capable of holding any data type, such as integers, strings, floats, Python objects, etc. A Series can be thought of as a single column of a DataFrame.

In [13]:
# Create a dictionary with some data
data = {"Name": ["Alice", "Bob", "Claire"],
        "Age": [25, 30, 27],
        "Gender": ["Female", "Male", "Female"]}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from one of the columns in the DataFrame
ages = df["Age"]

print(df)
print(ages)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    25
1    30
2    27
Name: Age, dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some of the most commonly used functions:

1. head() and tail(): These functions are used to get the first or last n rows of the DataFrame. For example, df.head(10) returns the first 10 rows of the DataFrame df.

2. describe(): This function is used to get a summary of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartiles of each numeric column.

3. drop(): This function is used to remove rows or columns from the DataFrame. For example, df.drop('column_name', axis=1) removes a column from the DataFrame.

4. fillna(): This function is used to fill missing values in the DataFrame with a specified value or method. For example, df.fillna(0) fills all missing values with 0.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All 3 of them are mutable

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

# Create three Series objects with sample data
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame using the three Series objects
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Display the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female