### Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})

# 1 - df.head()
df.head()

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [2]:
# 2 - df.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [8]:
# 3 - df.describe()
df.describe()

         a    b    c
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [10]:
# 4 -df.copy()
df1 = df.copy()
df1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [11]:
# 5 - df.all()
df.all()

a    True
b    True
c    True
dtype: bool

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [32]:
def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2+1)
    df.index = new_index
    return df

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
new_df = reindex_dataframe(df)
print(new_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [34]:
def sum_first_three_values(df):
    values_sum = 0
    for i, row in df.iterrows():
        if i < 3:
            values_sum += row['Values']
        else:
            break
    print("Sum of the first three values in 'Values' column:", values_sum)

    
df = pd.DataFrame({'A': [1, 2, 3,5,5], 'B': [4, 5, 6,1,1], 'Values': [7, 8, 9,10,11]})
sum_first_three_values(df)

Sum of the first three values in 'Values' column: 24

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [39]:
text = ["Given a Pandas DataFrame","DataFrame df with a column","function to create a new column","aasdffd"]

df = pd.DataFrame({'Text':text})


def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

add_word_count_column(df)
df

                              Text  Word_Count
0         Given a Pandas DataFrame           4
1       DataFrame df with a column           5
2  function to create a new column           6
3                          aasdffd           1

### Q5. How are DataFrame.size() and DataFrame.shape() different?


`DataFrame.size()` returns the total number of elements in the DataFrame, i.e., the product of the number of rows and the number of columns. It is equivalent to calling the numpy.ndarray.size method on the underlying NumPy array of the DataFrame.

`DataFrame.shape()`, on the other hand, returns a tuple of two integers representing the dimensions of the DataFrame, i.e., the number of rows and the number of columns. It is equivalent to calling the numpy.ndarray.shape method on the underlying NumPy array of the DataFrame.

In [40]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("DataFrame size:", df.size)  # Output: DataFrame size: 6
print("DataFrame shape:", df.shape)  # Output: DataFrame shape: (3, 2)

DataFrame size: 6
DataFrame shape: (3, 2)

### Q6. Which function of pandas do we use to read an excel file?

pd.read_excel() - is used to read excel

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [41]:
Email = ["aaa@gk.com","bfhk@gmail.com","kjjj@kj.com"]
df = pd.DataFrame({"Email":Email})
df

            Email
0      aaa@gk.com
1  bfhk@gmail.com
2     kjjj@kj.com

In [42]:
def add_username(df):
    df["Username"] = df["Email"].apply(lambda x : str(x).split('@')[0])
    return df

In [44]:
df = add_username(df)
df

            Email Username
0      aaa@gk.com      aaa
1  bfhk@gmail.com     bfhk
2     kjjj@kj.com     kjjj

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:
      A B C
    0 3 5 1
    1 8 2 7
    2 6 9 4
    3 2 3 5
    4 9 1 2

### Your function should select the following rows:
      A B C
    1 8 2 7
    4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [58]:
df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})

def select_rows(df):
    df2 = df[(df['A']>5) & (df['B']<10)]
    return df2

In [59]:
df2 = select_rows(df)
df2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [62]:
df = df = pd.DataFrame({'Values':[3,8,6,2,9,5,7,3,3,12,]})

def calculate_mean_median_standard_deviation(df):
    return df['Values'].mean(), df['Values'].median(), df['Values'].std()

In [65]:
mean, median, std = calculate_mean_median_standard_deviation(df)
print(f"mean : {mean}\nmedian : {median}\nstandard deviation : {std}")

mean : 5.8
median : 5.5
standard deviation : 3.2249030993194197

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [66]:
def moving_average(df):
    # Set the 'Date' column as the index
    df.set_index('Date', inplace=True)
    
    # Calculate the moving average using a window of size 7
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    # Add the 'MovingAverage' column to the DataFrame
    df['MovingAverage'] = ma
    
    # Reset the index
    df.reset_index(inplace=True)
    
    # Return the updated DataFrame
    return df

In [67]:
df = pd.DataFrame({'Date': pd.date_range('20220101', periods=10), 
                   'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})
new_df = moving_average(df)
print(new_df)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     20           15.0
2 2022-01-03     30           20.0
3 2022-01-04     40           25.0
4 2022-01-05     50           30.0
5 2022-01-06     60           35.0
6 2022-01-07     70           40.0
7 2022-01-08     80           50.0
8 2022-01-09     90           60.0
9 2022-01-10    100           70.0

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values:
        Date
    0 2023-01-01
    1 2023-01-02
    2 2023-01-03
    3 2023-01-04
    4 2023-01-05
### Your function should create the following DataFrame:

        Date     Weekday
    0 2023-01-01 Sunday
    1 2023-01-02 Monday
    2 2023-01-03 Tuesday
    3 2023-01-04 Wednesday
    4 2023-01-05 Thursday
### The function should return the modified DataFrame.

In [71]:
def get_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

In [72]:
df = pd.DataFrame({'Date': pd.date_range('20220101', periods=10)})

df2 = get_weekday(df)
df2

        Date    Weekday
0 2022-01-01   Saturday
1 2022-01-02     Sunday
2 2022-01-03     Monday
3 2022-01-04    Tuesday
4 2022-01-05  Wednesday
5 2022-01-06   Thursday
6 2022-01-07     Friday
7 2022-01-08   Saturday
8 2022-01-09     Sunday
9 2022-01-10     Monday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [77]:
def select_january_data(df):
    
    
    # create a mask for dates between '2023-01-01' and '2023-01-31'
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    
    # select rows based on the mask
    selected_data = df.loc[mask]
    
    return selected_data

In [79]:
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-02-28')})        
selected_data = select_january_data(df)
print(selected_data)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Need to import `pandas` library itself

In [80]:
import pandas as pd